@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); /* Otsikko Oswald */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap'); /* Montserrat */

body, html {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2019/04/10/16/38/half-timbered-houses-4117443_1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    background: rgba(255, 255, 255, 0.8); /* Valkoinen tausta, hieman läpinäkyvä */
    padding: 20px;
    border-radius: 10px;
    margin: 100px;
}

h1 {
    margin: 0;
    font-size: 70px;
    font-family: "Oswald", sans-serif;
    text-shadow: 10px 10px 10px rgba(122, 65, 21, 0.556);
    word-wrap: break-word;
}

h2 {
    margin: 0;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.footer-nav {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.footer-nav li {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 50px;
}

.footer-nav a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight: bold;
}

.footer-nav a:hover {
    color: #000;
}